@charset "UTF-8";

html,body{
  font-family: 'Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif;
}

//全局class
.none{ display: none }
.m0a{ margin: 0 auto }


//定位
.pr{ position: relative }
.pa{ position: absolute }
.tc{ text-align: center }
.flex{ display: flex }
.ac{ align-items: center }
.jc{ justify-content: center }
.jsb{ justify-content: space-between }
.flex1{ flex: 1 }

//文字排版
.fb{ font-weight: bold }
.t2{ text-indent: 2em }


//reset
body,div,p,ul,ol,li,dl,dd,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,button{
  margin: 0; padding: 0;
}
h1,h2,h3,h4,h5,h6{ font-weight: normal; font-size: 100% }
ol,ul{ list-style: none }
a{ text-decoration: none }
a:hover{ text-decoration: none }
